<%= form_for @question do |f| %>

<div class="form_wrapper">

<div class="form_input_wrapper"> 
<%= f.label :title %>
<br>
<%= f.text_field :title %>
</div>

<br>

<div class="form_input_wrapper"> 
<%= f.label :question %>
<br>
<%= f.text_area :body %>
</div>

</div>
<%= f.submit "Create Question", class: "button" %>

<br>

<br>
<div class="simple_button"><%= link_to "Back", :back %><div>

<% end %>